@charset "UTF-8";
body {
	background: #E0F8E6;
}
	.tr{background:#f5f5f5;	}
	
	.tr td:nth-child(2n){background:#CEECF5;}
	tr{height: 30px;}
	table{
		margin: 0px auto; 
		border: 1px solid black;
		}
	h1{text-align:center;}
	.tr1{background:#819FF7; text-align:center; }
	.tr2{background:#A9E2F3; }
	.tr2:nth-child(2n){background:#CEECF5;}
	button{font-size:15px;}
	
	#s{
		width:750px;
		height:30px;
		line-height:30px;
		text-align:center;
		background:lightgreen;
		margin:0px auto;
	}
	#paging{
		text-align:center;
		margin-top:20px;
	}
	#t{text-align:right; margin:20px;}
	option{height:20px;}
	#row:hover{cursor: pointer;}
#page {
	width: 1200px;
	background: white;
	margin: 50px auto;
	box-shadow: 1px 1px 5px gray;
	padding: 50px;
	text-align:center;
}

#con {
	width: 570px;
	background: skyblue;
	margin: 0 auto;
	overflow: hidden;
}

.des {
	background: skyblue;
	display: none;
}

.box {
	width: 150px;
	height: 400px;
	padding: 10px;
	margin: 10px;
	background: lightgreen;
	float: left;
}

.title, .author, .mall{
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
#darken{
		position:fixed;
		top:0px;
		left:0px;
		right:0px;
		height:100%;
		width:100%;
		background:rgba(0, 0, 0, 0.5);
		z-index:10000;
		overflow-y:scorll;
		display:none;
			}

	#lightbox{
		width:700px;
		margin:20px auto;
		padding:15px;
		border: 1px solid #333333;
		border-radius:5px;
		background:white;
		box-shadow:0px 5px 5px rgba(34, 25, 25, 0.4);
		text-align:center;
		}