<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper  namespace="healthNewsMapper">
	<select id="hlist" resultType="com.example.domain.HealVO">
		select * from comu_healthNews
		order by hid desc
		limit #{pageStart}, #{perPageNum}
	</select>
	
	<insert id="hinsert">
		insert into comu_healthNews(title, wdate, link) values(#{title},#{wdate}, #{link})
	</insert>
</mapper>
