<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper  namespace="hMapper">
	<insert id="insert">
		insert into HSearch(h_code,h_name)
		values(#{h_code},#{h_name})
	</insert>
	
	
	<insert id="tinsert">
		insert into HSearch(h_code,h_name,h_time,h_address,h_machine,h_phone)
		values(#{h_code},#{h_name},#{h_time},#{h_address},#{h_machine},#{h_phone})
	</insert>
	
	<select id="list" resultType="com.example.domain.HVO">
		select * from hsearch
		order by h_name asc
		limit 0,10
	</select>
	
	<select id="slist" resultType="com.example.domain.HVO">
		select * from hsearch
		where h_name like concat('%',#{keyword},'%')
		limit 0,10
	</select>
	
	<select id="read" resultType="com.example.domain.HVO">
		select * from hsearch
		where h_code=#{h_code}
	</select>
	
	<update id="update">
		update hsearch set h_address=#{h_address}, h_machine=#{h_machine}, h_phone=#{h_phone},h_name=#{h_name},h_time=#{h_time}
		where h_code=#{h_code}
	</update>
	
	<select id="rlist" resultType="com.example.domain.ReviewVO">
		select * from mbhrev
	</select>
	
	<insert id="reviewinsert">
		insert into mbhrev(revcontent,revgrade,hrevmyid)
		values(#{revcontent},#{revgrade},#{hrevmyid})
	</insert>
</mapper>

