<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper  namespace="MBMMapper">
<!-- list -->
	<select id="mbmlist" resultType="com.example.domain.MBasketMVO">
		select * from mbasketm where mmid = #{mmid}
		order by mmcode desc
		limit #{cri.pageStart}, #{cri.perPageNum}
	</select>
<!-- 	insert -->
	<insert id="mbminsert">
		insert into mbasketm (mmid, mmrecent) values(#{mmid},#{mmrecent})
	</insert>
<!-- 	mread -->
	<select id="mread" resultType="com.example.domain.MedicineVO">
		select * from medlist where medcode=#{mmrecent}
	</select>
<!-- 	total -->
	<select id="mbmtotal" resultType="int">
		select count(*) from mbasketm where mmid = #{mmid}
	</select>
	<select id="replist" resultType="com.example.domain.ReplyVO">
		select * from medreply
		where replyname = #{replyname}
		order by replyid desc
	</select>
</mapper>
