<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper  namespace="MessageMapper">
<!-- 	list -->
	<select id="mslist" resultType="com.example.domain.MessageVO">
		select * from mmessage where msreceiver = #{mid}
		order by msid desc
		limit #{cri.pageStart}, #{cri.perPageNum}
		
	</select>
<!-- 	message send -->
	<insert id="msend">
		insert into mmessage (mstitle, mscontent, msreceiver,mssender)
		values(#{mstitle},#{mscontent},#{msreceiver},#{mssender})
	</insert>
<!-- 	message read -->
	<select id="read" resultType="com.example.domain.MessageVO">
		select * from mmessage where msid = #{msid}
	</select>
<!-- 	total -->
	<select id="total" resultType="int">
		select count(*) from mmessage where msreceiver = #{mid}
	</select>
	
<!-- 	booklist -->
	<select id="booklist" resultType="com.example.domain.BookVO">
		select * from mbook where mbmyid= #{mbmyid}
	</select>
	
	<!-- 	btotal -->
	<select id="btotal" resultType="int">
		select count(*) from mbook where mbmyid = #{mbmyid}
	</select>
</mapper>
